{% load static %}

{% block css %}
    <script src="{% static 'js/russian.js' %}"></script>
{% endblock css %}

<!-- Попап для отправки выбранных продуктов -->
<div id="openPopupFormPrice" class="popup" style="display: none;">
    <div class="popup-content">
        <span id="closePopup">&times;</span>
        <h2>Заполните форму и нажмите отправить</h2>
        <form class="form-send-data-to-email"
              id="contactForm"
              action="{% url 'catalog:send_data_to_email' %}"
              method="post"
              novalidate>

            {% csrf_token %}

            {# NAME #}
            <div class="my-form-group">
                <label>{{ form_data_to_email.name.label }}
                    <span class="text-danger"> *</span>
                </label>
                {{ form_data_to_email.name }}
                <div id="id_name-error" class="error-message"></div>
            </div>

            {# COMPANY #}
            <div class="my-form-group">
                <label>{{ form_data_to_email.company.label_tag }}<span
                        class="text-danger"> *</span>
                </label>
                {{ form_data_to_email.company }}
                <div id="id_company-error" class="error-message"></div>
            </div>

            {# PHONE #}
            <div class="my-form-group">
                <label>{{ form_data_to_email.phone_number.label_tag }}
                    <span class="text-danger"> *</span>
                </label>
                {{ form_data_to_email.phone_number }}
                <div id="id_phone_number-error" class="error-message"></div>
            </div>

            {# EMAIL #}
            <div class="my-form-group">
                <label>{{ form_data_to_email.email.label_tag }}
                    <span class="text-danger"> *</span>
                </label>
                {{ form_data_to_email.email }}
                <div id="id_email-error" class="error-message"></div>
            </div>

            {# COMMENT #}
            <div class="my-form-group">
                <label>{{ form_data_to_email.comment.label_tag }}</label>
                {{ form_data_to_email.comment }}
            </div>

            {# CHECKBOX RULES #}
            <div class="my-form-group">
                <input type="checkbox" class="custom-checkbox" id="checkbox1">
                <label class="custom-label" for="checkbox1">
                    Я даю свое согласие на обработку моих персональных данных
                </label>
            </div>

            <div class="fileSizeDisplay">
                <span id="fileSizeDisplay"></span>
            </div>

            <button type="submit"
                    class="btn-submit-form"
                    id="sendForm"
                    disabled>Отправить
            </button>
        </form>
    </div>
</div>

<!-- Попап о успешной отправке -->
<div id="successPopup" class="popup" style="display: none;">
    <div class="success-popup-content d-flex justify-content-center align-items-center">
        <div id="successMessage">
            Спасибо!<br>Ваша заявка принята!
            {#            <br>После выставки представитель компании свяжется с Вами#}
        </div>
    </div>
</div>

{# PHONE_MASK #}
<script src="{% static 'js/jquery.inputmask.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#id_phone_number').inputmask({
            mask: '+9999999999999',  // позволяет ввод от 1 до 13 символов после +
            placeholder: '',
            clearMaskOnLostFocus: false,
        });
    });
</script>

{#  POPUP  #}
<script>
    {# Закрытие попапа по кнопке Х #}
    document.getElementById('closePopup').addEventListener('click', function () {
        document.getElementById('openPopupPrice').style.display = 'none';
    });

    {# Закрытие попапа по клику вне окна #}
    document.addEventListener('click', function (event) {
        let popup = document.querySelector('.popup-content');
        let formPopup = document.getElementById('popupForm');
        if (formPopup.style.display === 'flex' && !popup.contains(event.target) && event.target.id !== 'openPopup') {
            formPopup.style.display = 'none';
        }
    });

    {# Закрытие успешного попапа по клику вне окна #}
    document.addEventListener('click', function (event) {
        let popup = document.querySelector('.success-popup-content');
        let formPopup = document.getElementById('successPopup');
        if (formPopup.style.display === 'flex' && !popup.contains(event.target) && event.target.id !== 'openPopup') {
            formPopup.style.display = 'none';
        }
    });
</script>

{#  CHECK FIELDS AND CHECKBOX  #}
<script>
    const formLidsElem = {
        name: document.getElementById("id_name"),
        company: document.getElementById("id_company"),
        phone_number: document.getElementById("id_phone_number"),
        email: document.getElementById("id_email")
    };

    document.getElementById('openPopupPrice').addEventListener('click', function () {
        document.getElementById('openPopupFormPrice').style.display = 'flex';

    });

    document.addEventListener("DOMContentLoaded", function () {
        formLidsElem.name.addEventListener('blur', () => handleSimpleFieldBlur(formLidsElem.name));
        formLidsElem.company.addEventListener('blur', () => handleSimpleFieldBlur(formLidsElem.company));
        formLidsElem.phone_number.addEventListener('blur', () => handlePhoneNumberBlur(formLidsElem.phone_number));
        formLidsElem.email.addEventListener('blur', () => handleEmailBlur(formLidsElem.email));

        const checkbox = document.getElementById('checkbox1');
        const submitButton = document.getElementById('sendForm');

        checkbox.addEventListener('change', function () {
            submitButton.disabled = !checkbox.checked;
        });
    });
</script>

{#  VIRTUAL KEYBOARD  #}
<script>
    $(document).ready(function () {
        // Функция для инициализации клавиатуры для определенного элемента
        function initializeKeyboard(selector) {
            $(selector).keyboard({
                layout: 'russian-qwerty',
                usePreview: false,
                autoAccept: true,
                position: {
                    my: 'center top',
                    at: 'center bottom'
                },
            });
        }

        // Инициализация клавиатуры для нужных полей ввода
        initializeKeyboard('#id_name');
        initializeKeyboard('#id_company');
        initializeKeyboard('#id_phone_number');
        initializeKeyboard('#id_email');
        initializeKeyboard('#id_comment');
    });
</script>
