<!-- Попап для отправки выбранных продуктов -->
<div id="popupFormPrice" class="popup-price" style="display: none;">
    <div class="popup-content-price">
        <span id="closePopupPrice">&times;</span>
        <h2>Заполните форму и нажмите отправить</h2>
        <form class="form-send-data-to-email"
              id="contactFormPrice"
              action="{% url 'catalog:send_data_to_email' %}"
              method="post"
              novalidate>

            {% csrf_token %}

            {# NAME #}
            <div class="my-form-group">
                <label>{{ price_form.name.label }}
                    <span class="text-danger"> *</span>
                </label>
                {{ price_form.name }}
                <div id="id_name_price-error" class="error-message"></div>
            </div>

            {# COMPANY #}
            <div class="my-form-group">
                <label>{{ price_form.company.label_tag }}<span
                        class="text-danger"> *</span>
                </label>
                {{ price_form.company }}
                <div id="id_company_price-error" class="error-message"></div>
            </div>

            {# PHONE #}
            <div class="my-form-group">
                <label>{{ price_form.phone_number.label_tag }}
                    <span class="text-danger"> *</span>
                </label>
                {{ price_form.phone_number }}
                <div id="id_phone_number_price-error" class="error-message"></div>
            </div>

            {# EMAIL #}
            <div class="my-form-group">
                <label>{{ price_form.email.label_tag }}
                    <span class="text-danger"> *</span>
                </label>
                {{ price_form.email }}
                <div id="id_email_price-error" class="error-message"></div>
            </div>

            {# COMMENT #}
            <div class="my-form-group">
                <label>{{ price_form.comment.label_tag }}</label>
                {{ price_form.comment }}
            </div>

            {# CHECKBOX RULES #}
            <div class="my-form-group">
                <input type="checkbox" class="custom-checkbox" id="checkbox-price">
                <label class="custom-label" for="checkbox-price">
                    Я даю свое согласие на обработку моих персональных данных
                </label>
            </div>

            <button type="submit"
                    class="btn-submit-form"
                    id="sendFormLidsPrice"
                    disabled>Отправить
            </button>
        </form>
    </div>
</div>

{#  POPUP  #}
<script>
    {# Закрытие попапа по кнопке Х #}
    document.getElementById('closePopupPrice').addEventListener('click', function () {
        document.getElementById('popupFormPrice').style.display = 'none';
    });

    {# Закрытие попапа по клику вне окна #}
    document.addEventListener('click', function (event) {
        let popup = document.querySelector('.popup-content-price');
        let formPopup = document.getElementById('popupFormPrice');
        if (formPopup.style.display === 'flex' && !popup.contains(event.target) && event.target.id !== 'openPopupPrice') {
            formPopup.style.display = 'none';
        }
    });

    {# Закрытие успешного попапа по клику вне окна #}
    document.addEventListener('click', function (event) {
        let popup = document.querySelector('.success-popup-content');
        let formPopup = document.getElementById('successPopup');
        if (formPopup.style.display === 'flex' && !popup.contains(event.target) && event.target.id !== 'openPopupPrice') {
            formPopup.style.display = 'none';
        }
    });
</script>

{#  CHECK FIELDS AND CHECKBOX  #}
<script>
    const formPriceElem = {
        name: document.getElementById("id_name_price"),
        company: document.getElementById("id_company_price"),
        phone_number: document.getElementById("id_phone_number_price"),
        email: document.getElementById("id_email_price")
    };

    document.getElementById('openPopupPrice').addEventListener('click', function () {
        document.getElementById('popupFormPrice').style.display = 'flex';
    });

    document.addEventListener("DOMContentLoaded", function () {
        formPriceElem.name.addEventListener('blur', () => handleSimpleFieldBlur(formPriceElem.name));
        formPriceElem.company.addEventListener('blur', () => handleSimpleFieldBlur(formPriceElem.company));
        formPriceElem.phone_number.addEventListener('blur', () => handlePhoneNumberBlur(formPriceElem.phone_number));
        formPriceElem.email.addEventListener('blur', () => handleEmailBlur(formPriceElem.email));

        const checkboxFormPrice = document.getElementById('checkbox-price');
        const submitButtonFormPrice = document.getElementById('sendFormLidsPrice');

        checkboxFormPrice.addEventListener('change', function () {
            submitButtonFormPrice.disabled = !checkboxFormPrice.checked;
        });
    });
</script>

