<!-- Попап для отправки выбранных продуктов -->
<div id="popupFormSupplier" class="popup-sup" style="display: none;">
    <div class="popup-content-sup">
        <span id="closePopup-sup">&times;</span>
        <h2>Заполните форму и нажмите отправить</h2>
        <form class="form-send-data-to-email"
              id="contactForm2"
              action="{% url 'catalog:send_data_to_email' %}"
              method="post"
              novalidate>

            {% csrf_token %}

            {# NAME #}
            <div class="my-form-group">
                <label>{{ form_data_to_email_supplier.name.label }}
                    <span class="text-danger"> *</span>
                </label>
                {{ form_data_to_email_supplier.name }}
                <div id="id_name-error" class="error-message"></div>
            </div>

            {# COMPANY #}
            <div class="my-form-group">
                <label>{{ form_data_to_email_supplier.company.label_tag }}<span
                        class="text-danger"> *</span>
                </label>
                {{ form_data_to_email_supplier.company }}
                <div id="id_company-error" class="error-message"></div>
            </div>

            {# PHONE #}
{#            <div class="my-form-group">#}
{#                <label>{{ form_data_to_email_supplier.phone_number.label_tag }}#}
{#                    <span class="text-danger"> *</span>#}
{#                </label>#}
{#                {{ form_data_to_email_supplier.phone_number }}#}
{#                <div id="id_phone_number-error" class="error-message"></div>#}
{#            </div>#}

            {# EMAIL #}
            <div class="my-form-group">
                <label>{{ form_data_to_email_supplier.email.label_tag }}
                    <span class="text-danger"> *</span>
                </label>
                {{ form_data_to_email_supplier.email }}
                <div id="id_email-error" class="error-message"></div>
            </div>

            {# DEPARTMENT #}
            <div class="my-form-group">
                <label>{{ form_data_to_email_supplier.department.label_tag }}
                    <span class="text-danger"> *</span>
                </label>
                {{ form_data_to_email_supplier.department }}
                <div id="id_email-error" class="error-message"></div>
            </div>

            {# COMMENT #}
            <div class="my-form-group">
                <label>{{ form_data_to_email_supplier.comment.label_tag }}</label>
                {{ form_data_to_email_supplier.comment }}
            </div>

            {# CHECKBOX RULES #}
            <div class="my-form-group">
                <label for="rulesCondition2">
                    <input type="checkbox" id="rulesCondition2">
                    <span class="custom-checkbox-sup"></span> Я согласен на обработку моих
                    персональных данных
                </label>
            </div>

            <button type="submit"
                    class="btn-submit-form"
                    id="sendForm2"
                    disabled>Отправить
            </button>
        </form>
    </div>
</div>

<!-- Попап о успешной отправке -->
<div id="successPopupSupplier" class="popup-sup" style="display: none;">
    <div class="success-popup-content-sup d-flex justify-content-center align-items-center">
        <div id="successMessage">
            Спасибо!<br>Ваша заявка принята!
{#            <br>После выставки представитель компании свяжется с Вами#}
        </div>
    </div>
</div>

{#  POPUP  #}
<script>
    {# Закрытие попапа по кнопке Х #}
    document.getElementById('closePopup-sup').addEventListener('click', function () {
        document.getElementById('popupFormSupplier').style.display = 'none';
    });

    {# Закрытие попапа по клику вне окна #}
    document.addEventListener('click', function (event) {
        let popup = document.querySelector('.popup-content-sup');
        let formPopup = document.getElementById('popupFormSupplier');
        if (formPopup.style.display === 'flex' && !popup.contains(event.target) && event.target.id !== 'openPopupSupplier') {
            formPopup.style.display = 'none';
        }
    });

    {# Закрытие успешного попапа по клику вне окна #}
    document.addEventListener('click', function (event) {
        let popup = document.querySelector('.success-popup-content-sup');
        let formPopup = document.getElementById('successPopupSupplier');
        if (formPopup.style.display === 'flex' && !popup.contains(event.target) && event.target.id !== 'openPopupSupplier') {
            formPopup.style.display = 'none';
        }
    });
</script>
