{% extends 'catalog/base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block css %}
    <link href="{% static 'css/pagination_styles.css' %}" rel="stylesheet"/>
{% endblock css %}

{% block content %}
    <section class="filter-buttons">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 d-flex flex-wrap justify-content-center align-items-center">
                    {% for item in throat_standards %}
                        <a class="btn btn-miran-filter m-1"
                           href="#">
                            <div class="check">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 26 26"
                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                     enable-background="new 0 0 26 26">
                                    <path d="m.3,14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2 0.5,0.2 0.7,0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.4 0.4,1 0,1.4l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z"></path>
                                </svg>
                            </div>
                            {{ item }}</a>
                    {% endfor %}
                    {% for item in types_of_closure %}
                        <a class="btn btn-miran-filter m-1"
                           href="#">
                            <div class="check">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 26 26"
                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                     enable-background="new 0 0 26 26">
                                    <path d="m.3,14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2 0.5,0.2 0.7,0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.4 0.4,1 0,1.4l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z"></path>
                                </svg>
                            </div>
                            {{ item }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>


    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4 mt-5 p-3">
        {% for cap in caps %}
            <div class="col">
                <a href="{{ cap.get_absolute_url }}" style="text-decoration: none;">
                    <div class="card card-link">
                        {% if cap.cap_files.all %}
                            {% for file in cap.cap_files.all %}
                                {% if forloop.first %}
                                    <img src="{{ file.file.url }}" class="card-img-top rounded-5"
                                         alt="...">
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <div class="card-body">
                            <div class="text-center">
                                <h5 class="card-title">{{ cap.name }}</h5>
                            </div>

                        </div>
                        {% if cap.status == 'Новинка' %}
                            <span class="badge-new rounded-5">НОВИНКА</span>
                        {% elif cap.status == 'Бестселлер' %}
                            <span class="badge-new rounded-5">БЕСТСЕЛЛЕР</span>
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {#    <div class="container my-5">#}
    {#        <div class="d-flex justify-content-center">#}
    {#            {% include "catalog/pagination.html" with page=caps %}#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}
