{% extends 'catalog/base.html' %}
{% load static %}

{% block title %}
{% endblock title %}


{% block content %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4 mt-5">
        {% for category in categories %}
            <div class="col">
                <a href="{{ category.get_absolute_url }}" style="text-decoration: none;">
                    <div class="card card-link rounded-5">
                        <img src="{{ category.category_image.url }}" class="card-img-top rounded-5" alt="...">
                        <div class="card-body">
                            <div class="card-title header-text text-center">{{ category.name }}</div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
