{% extends 'catalog/base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block css %}
    <link href="{% static 'css/popup_styles.css' %}" rel="stylesheet"/>
{% endblock css %}

{% block content %}

    <div class="container-contact">
        <div class="question-lid">
            Вы являетесь покупателем или поставщиком?
        </div>
        <div class="block-buttons">
            <button class="btn-miran-filter" id="openPopup">
                Покупатель
            </button>
            <button class="btn-miran-filter" id="openPopupSupplier">
                Поставщик
            </button>
        </div>

    </div>

    <script src="{% static 'js/functions_for_validate_form.js' %}"></script>
    {% include 'popup/popup.html' %}
    {% include 'popup/popup_supplier.html' %}

    {#  VALIDATION FIELDS AND SEND FORM TO SERVER #}
    <script>

        document.getElementById('openPopup').addEventListener('click', function () {
            document.getElementById('popupForm').style.display = 'flex';
        });
        document.getElementById('openPopupSupplier').addEventListener('click', function () {
            document.getElementById('popupFormSupplier').style.display = 'flex';
        });

        document.getElementById('contactForm').addEventListener('submit', function (event) {
            event.preventDefault();

            if (checkFields()) {
                let data = new FormData(this);
                data.append("place", 'contact');

                fetch("{% url 'catalog:send_data_to_email' %}", {
                    method: 'POST',
                    body: data,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            document.getElementById('popupForm').style.display = 'none';
                            document.getElementById('successPopup').style.display = 'flex';

                            document.getElementById('contactForm').reset();

                            setTimeout(function () {
                                document.getElementById('successPopup').style.display = 'none';
                            }, 3000); // Закрытие через 3 секунды
                        } else {
                            alert('Ошибка: ' + JSON.stringify(data.errors));
                        }
                    });
            }
        });
        document.getElementById('contactForm2').addEventListener('submit', function (event) {
            event.preventDefault();

            if (checkFieldsSupplierForm()) {
                let data = new FormData(this);
                data.append("place", 'contact');
                console.log(data)

                fetch("{% url 'catalog:send_data_to_email_from_supplier' %}", {
                    method: 'POST',
                    body: data,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            document.getElementById('popupFormSupplier').style.display = 'none';
                            document.getElementById('successPopupSupplier').style.display = 'flex';

                            document.getElementById('contactForm2').reset();

                            setTimeout(function () {
                                document.getElementById('successPopupSupplier').style.display = 'none';
                            }, 3000); // Закрытие через 3 секунды
                        } else {
                            alert('Ошибка: ' + JSON.stringify(data.errors));
                        }
                    });


            }

        });


    </script>
{% endblock %}
