{% extends 'catalog/base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block css %}
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/fancybox.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/panzoom.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/my_settings_carousel.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/popup_styles.css' %}" rel="stylesheet"/>
{% endblock css %}

{% block content %}
    <div class="container-xxl">
        <div class="product-card">
            <div class="row my-5">
                <div class="col-lg-6 my-2 px-2">
                    <div class="carousel-container ">
                        <div class="f-carousel " id="myCarousel">
                            <div class="f-carousel__viewport">
                                <div class="f-carousel__track">
                                    {% if jar.jar_files.all %}
                                        {% for file in jar.jar_files.all %}
                                            <div class="f-carousel__slide"
                                                 data-thumb-src="{{ file.file.url }}">
                                                <a href="{{ file.file.url }}"
                                                   data-fancybox="gallery">
                                                    <img width="700" height="700" alt=""
                                                         data-lazy-src="{{ file.file.url }}"/>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            {% if jar.status == 'Новинка' %}
                                <span class="badge-new">НОВИНКА</span>
                            {% elif jar.status == 'Бестселлер' %}
                                <span class="badge-best">БЕСТСЕЛЛЕР</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 my-2 px-2">
                    <div class="container px-2">
                        <div>
                            <h1 class="text-center my-2">{{ jar.name }}</h1>
                        </div>
                        <div class="p-3 my-3 ">
                            <div class="row">
                                <div class="col-md-8 col-12">
                                    <div class="table-responsive ">
                                        <table class="table-product-detail">
                                            <tbody>
                                            <tr>
                                                <td>Объем мл.</td>
                                                <td>{{ jar.volume }}</td>
                                            </tr>
                                            <tr>
                                                <td>Поверхность</td>
                                                <td>{{ jar.surface }}</td>
                                            </tr>
                                            <tr>
                                                <td>Двойная стенка</td>
                                                <td>{{ jar.double_wall }}</td>
                                            </tr>
                                            <tr>
                                                <td>Флип-топ баночка</td>
                                                <td>{{ jar.flip_top }}</td>
                                            </tr>
                                            <tr>
                                                <td>Экодобавка «кофейная крошка»</td>
                                                <td>{{ jar.flip_top }}</td>
                                            </tr>
                                            <tr>
                                                <td>Рефил</td>
                                                <td>{{ jar.refil }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12 d-flex flex-column align-items-center justify-content-center">
                                    <div class="w-100 my-2">
                                        <button id="openPopup">Скачать на свой email</button>

                                        <div id="popupForm" class="popup" style="display: none;">
                                            <div class="popup-content">
                                                <span id="closePopup">&times;</span>
                                                <h2>Заполните форму и нажмите отправить</h2>
                                                <form class="form-send-data-to-email"
                                                      id="contactForm"
                                                      action="{% url 'catalog:send_data_to_email' %}"
                                                      method="post">
                                                    {% csrf_token %}
                                                    {% for field in form %}
                                                        <div class="form-group">
                                                            {{ field.label_tag }}
                                                            {{ field }}
                                                        </div>
                                                    {% endfor %}
                                                    <div class="fileSizeDisplay">
                                                        <span id="fileSizeDisplay"></span>
                                                    </div>
                                                    <button type="submit">Отправить</button>
                                                </form>
                                            </div>
                                        </div>

                                        <div id="successPopup" class="popup" style="display: none;">
                                            <div class="success-popup-content d-flex justify-content-center align-items-center">
                                                <div id="successMessage">
                                                    Спасибо!<br>Ваше сообщение отправлено.
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-3 my-3">
                            {{ jar.description|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/carousel.umd.js' %}"></script>
    <script src="{% static 'js/carousel.thumbs.umd.js' %}"></script>
    <script src="{% static 'js/fancybox.umd.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const myCarousel = new Carousel(document.getElementById("myCarousel"), {
                Dots: false,
                Thumbs: {
                    type: "classic",
                },
                Navigation: true,
            }, {Thumbs});

            Fancybox.bind('[data-fancybox="gallery"]', {
                Images: {
                    zoom: true,
                    Panzoom: {
                        {#maxScale: 2,#}
                    },
                },
                Thumbs: false,
            });
        });
    </script>
    <script>
        {# Запрос на размер отправляемого файла #}
        document.getElementById('openPopup').addEventListener('click', function () {
            document.getElementById('popupForm').style.display = 'flex';
            const data = new FormData();
            data.append("ids", {{ jar.id }});

            fetch("{% url 'catalog:get_size_pdf_file' %}", {
                method: 'POST',
                body: data,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Если ответ успешный, вставляем размер файла в блок div
                        document.getElementById('fileSizeDisplay').innerText = `Размер файла: ${data.file_size} `;
                    } else {
                        // Если возникла ошибка, отображаем сообщение об ошибке
                        document.getElementById('fileSizeDisplay').innerText = "Ошибка при получении размера файла.";
                    }
                })
                .catch(error => {
                    console.error('Ошибка:', error);
                    document.getElementById('fileSizeDisplay').innerText = "Произошла ошибка при выполнении запроса.";
                });
        });

        {# Закрытие попапа по кнопке Х #}
        document.getElementById('closePopup').addEventListener('click', function () {
            document.getElementById('popupForm').style.display = 'none';
        });

        document.addEventListener('click', function (event) {
            let popup = document.querySelector('.popup-content');
            let formPopup = document.getElementById('popupForm');
            if (formPopup.style.display === 'flex' && !popup.contains(event.target) && event.target.id !== 'openPopup') {
                formPopup.style.display = 'none';
            }
        });

        {# Закрытие успешного попапа по кнопке Х или мимо попапа #}
        document.addEventListener('click', function (event) {
            let popup = document.querySelector('.success-popup-content');
            let formPopup = document.getElementById('successPopup');
            if (formPopup.style.display === 'flex' && !popup.contains(event.target) && event.target.id !== 'openPopup') {
                formPopup.style.display = 'none';
            }
        });

        {# Отправка форма по нажатию на кнопку Отправить #}
        document.getElementById('contactForm').addEventListener('submit', function (event) {
            event.preventDefault();
            let formData = new FormData(this);
            formData.append("ids", {{ jar.id }});

            fetch("{% url 'catalog:send_data_to_email' %}", {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        document.getElementById('popupForm').style.display = 'none';
                        document.getElementById('successPopup').style.display = 'flex';

                        document.getElementById('contactForm').reset();

                        setTimeout(function () {
                            document.getElementById('successPopup').style.display = 'none';
                        }, 3000); // Закрытие через 3 секунды
                    } else {
                        alert('Ошибка: ' + JSON.stringify(data.errors));
                    }
                });
        });
    </script>
{% endblock %}
