{% extends 'catalog/base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block css %}
    <link href="{% static 'css/pagination_styles.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/popup_styles.css' %}" rel="stylesheet"/>
{% endblock css %}

{% block content %}

    <!-- Секция с кнопками фильтров -->
    <section class="filter__block">
        <div class="filter__buttons">
            <form method="get" id="filter-jars-form">
                <div class="btn-miran-filter" id="All">
                    <div class="check">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 26 26"
                             xmlns:xlink="http://www.w3.org/1999/xlink"
                             enable-background="new 0 0 26 26">
                            <path d="m.3,14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2 0.5,0.2 0.7,0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.4 0.4,1 0,1.4l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z"></path>
                        </svg>
                    </div>
                    <label for="all">
                        <input type="checkbox"
                               name="all"
                               value="all"
                               id="all">
                        Сбросить
                    </label>
                </div>
                {% for field in form_filter %}
                    {% for item in field %}
                        <div class="btn-miran-filter">
                            <div class="check">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 26 26"
                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                     enable-background="new 0 0 26 26">
                                    <path d="m.3,14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2 0.5,0.2 0.7,0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.4 0.4,1 0,1.4l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z"></path>
                                </svg>
                            </div>
                            {{ item }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </form>
        </div>
    </section>

    <!-- Контейнер с карточками товара -->
    <div class="my-container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
            {% for jar in jars %}
                <div class="col">
                    <div class="card" id="{{ jar.id }}">
                        <a href="{{ jar.get_absolute_url }}">
                            {% if jar.jar_files.all %}
                                {% for file in jar.jar_files.all %}
                                    {% if forloop.first %}
                                        <img src="{{ file.file.url }}" class="card-img-top"
                                             alt="...">
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <div class="card-body">
                                <div class="text-center">
                                    <h5 class="card-title">{{ jar.name }}</h5>
                                </div>
                            </div>
                            {% if jar.status == 'Новинка' %}
                                <span class="badge-new">НОВИНКА</span>
                            {% elif jar.status == 'Бестселлер' %}
                                <span class="badge-best">БЕСТСЕЛЛЕР</span>
                            {% endif %}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Фиксированная кнопка send to email-->
    <button class="fixed-button btn-menu-header" id="openPopup">Отправить на свой e-mail</button>

    {% include 'popup/popup.html' %}

    <!-- Секция с кнопками фильтров -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('filter-jars-form');
            const filterItems = document.querySelectorAll('#filter-jars-form div.btn-miran-filter');
            const allButton = document.getElementById('All');
            const allCheckbox = allButton.querySelector('input[type="checkbox"]');

            function updateAllButtonState() {
                const hasActiveItem = Array.from(filterItems).some(item => item.classList.contains('active'));

                if (hasActiveItem) {
                    allButton.classList.remove('active');
                    allCheckbox.checked = false;
                } else {
                    allButton.classList.add('active');
                    allCheckbox.checked = true;
                }
            }

            // Начальная проверка состояния кнопок
            filterItems.forEach(item => {
                const checkbox = item.querySelector('input[type="checkbox"]');

                if (checkbox.checked) {
                    item.classList.add('active');
                }
            });

            updateAllButtonState();

            filterItems.forEach(item => {
                const checkbox = item.querySelector('input[type="checkbox"]');

                item.addEventListener('click', function () {
                    // Переключение состояния чекбокса
                    checkbox.checked = !checkbox.checked;

                    // Переключение класса active
                    if (checkbox.checked) {
                        item.classList.add('active');
                    } else {
                        item.classList.remove('active');
                    }

                    updateAllButtonState();

                    // Запуск формы для отправки данных
                    form.dispatchEvent(new Event('change'));
                });
            });

            form.addEventListener('change', function (e) {
                const hasActiveItem = Array.from(filterItems).some(item => item.classList.contains('active'));

                if (!hasActiveItem) {
                    // Если нет активных кнопок, загружаем текущую страницу
                    window.location.href = window.location.pathname;
                } else {
                    // Считываем данные формы
                    const formData = new FormData(form);
                    const params = new URLSearchParams(formData);

                    // Генерируем URL с параметрами
                    const queryString = params.toString();
                    const actionUrl = window.location.pathname;
                    window.location.href = `${actionUrl}?${queryString}`;
                }
            });

            allButton.addEventListener('click', function () {
                filterItems.forEach(item => {
                    const checkbox = item.querySelector('input[type="checkbox"]');
                    item.classList.remove('active');
                    checkbox.checked = false;
                });

                updateAllButtonState();

                form.dispatchEvent(new Event('change'));
            });
        });
    </script>

    {#  GET FILESIZE  #}
    <script>
        {# Возвращает список ids #}

        function get_ids() {
            const cards = document.querySelectorAll('.card');
            const ids = [];

            cards.forEach(function (card) {
                ids.push(card.id);
            });
            return ids
        }

        {# Запрос на размер отправляемого файла #}
        document.getElementById('openPopup').addEventListener('click', function () {
            document.getElementById('popupForm').style.display = 'flex';
            const data = new FormData();
            data.append('ids', JSON.stringify(get_ids()));
            data.append("category", 'jar');

            fetch("{% url 'catalog:get_size_list_files' %}", {
                method: 'POST',
                body: data,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Если ответ успешный, вставляем размер файла в блок div
                        document.getElementById('fileSizeDisplay').innerText = `Размер файла: ${data.file_size} `;
                    } else {
                        // Если возникла ошибка, отображаем сообщение об ошибке
                        document.getElementById('fileSizeDisplay').innerText = "Ошибка при получении размера файла.";
                    }
                })
                .catch(error => {
                    console.error('Ошибка:', error);
                    document.getElementById('fileSizeDisplay').innerText = "Произошла ошибка при выполнении запроса.";
                });
        });
    </script>

    {#  VALIDATION FIELDS AND SEND FORM TO SERVER #}
    <script>
        document.getElementById('contactForm').addEventListener('submit', function (event) {
            event.preventDefault();

            if (checkFields()) {
                let data = new FormData(this);
                data.append("ids", JSON.stringify(get_ids()));
                data.append("category", 'jar');
                data.append("place", 'catalog');

                fetch("{% url 'catalog:send_data_to_email' %}", {
                    method: 'POST',
                    body: data,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            document.getElementById('popupForm').style.display = 'none';
                            document.getElementById('successPopup').style.display = 'flex';

                            document.getElementById('contactForm').reset();

                            setTimeout(function () {
                                document.getElementById('successPopup').style.display = 'none';
                            }, 3000); // Закрытие через 3 секунды
                        } else {
                            alert('Ошибка: ' + JSON.stringify(data.errors));
                        }
                    });
            }
        });
    </script>
{% endblock %}
