{% extends 'catalog/base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block css %}
    <link href="{% static 'css/pagination_styles.css' %}" rel="stylesheet"/>
{% endblock css %}


{% block content %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
        {% for jar in jars %}
            <div class="col">
                <a href="{{ jar.get_absolute_url }}" style="text-decoration: none;">
                    <div class="card card-link rounded-5">
                        {% if jar.jar_files.all %}
                            {% for file in jar.jar_files.all %}
                                {% if forloop.first %}
                                    <img src="{{ file.file.url }}" class="card-img-top rounded-top-5" alt="...">
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title text-center "
                                style="text-transform: uppercase">{{ jar.name }}</h5>
                        </div>
                        {% if jar.status == 'Новинка' %}
                            <span class="badge-new rounded-5">НОВИНКА</span>
                        {% elif jar.status == 'Бестселлер' %}
                            <span class="badge-new rounded-5">БЕСТСЕЛЛЕР</span>
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{#    <div class="container my-5">#}
{#        <div class="d-flex justify-content-center">#}
{#            {% include "catalog/pagination.html" with page=jars %}#}
{#        </div>#}
{#    </div>#}
{% endblock %}
