{% extends 'catalog/base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block css %}
    <link href="{% static 'css/pagination_styles.css' %}" rel="stylesheet"/>
{% endblock css %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
        {% for ser in series %}
            <div class="col">
                <a href="{{ ser.get_absolute_url }}" style="text-decoration: none;">
                    <div class="card card-link rounded-5">
                        <img src="{{ ser.series_image.url }}" class="card-img-top rounded-top-5" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center "
                                style="text-transform: uppercase">{{ ser.name }}</h5>
                        </div>
                        {% if ser.status == 'Новинка' %}
                            <span class="badge-new rounded-5">НОВИНКА</span>
                        {% elif ser.status == 'Бестселлер' %}
                            <span class="badge-new rounded-5">БЕСТСЕЛЛЕР</span>
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{#    <div class="container my-5">#}
{#        <div class="d-flex justify-content-center">#}
{#            {% include "catalog/pagination.html" with page=series %}#}
{#        </div>#}
{#    </div>#}
{% endblock %}
